.header-info {
    background-color: rgba(15, 15, 15, 0.593);
    padding: 50px;
    margin: auto 20%;
    border-radius: 10px;
}

.header-info>h1 {
    color: crimson;
    font-family: cursive;
}

.header-info>p {
    /* color: rgb(3, 238, 234); */
    font-weight: 700;
}

.button {
    background-color: crimson;
    color: white;
    font-size: 23px;
    font-weight: 700;
    padding: 12px 45px;
    margin: auto 10px;
    border-radius: 10px;
}

.img {
    height: 250px;
    width: 100%;
}